 h1{
    text-align: center;
    font-size: 42px;
 }
p{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
    .mid-div {
        padding: 50px 30px;
        border-radius: 10px;
        fill-size: 12px;
        margin: auto;
        height: 440px;
        background-size: cover;
    }
form{
    width: 100%;
  height: 150%;
  padding: 12px 20px;
  background-color: #f8f8f8;
  resize: horizontal;
    flex-grow: 3;
    }
img{
    width: 100%;
}
 .nav-link{
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, black;
    }
 nav {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 20px 40px;
	background: rosybrown;
	backdrop-filter: blur(20px);
	border-bottom: lightgoldenrodyellow;
	z-index: 1000;
	transition: all 0.4s ease;
}

nav.scrolled {
	padding: 15px 40px;
	background: #0ed2ea;
	box-shadow: #00ced1;
}
.footer-bottom {
	border-top: rosybrown;
	padding-top: 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}
footer {
		padding: 40px 20px 20px;
	}
body {
	font-family: Arial, black;
	background: rosybrown;
	color: deepskyblue;
	overflow-x: hidden;
	position: relative;
}