 h1{
    text-align: center;
    font-size: 42px;
 }
p{
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
    .mid-div {
        padding: 50px 30px;
        border-radius: 10px;
        fill-size: 12px;
        margin: auto;
        height: 440px;
        background-size: cover;
    }